:root {
  /* Color Variables */
  --background-main: #F4F4F4;
  --background-paper: #ffffff;
  --foreground: #171717;
  --primary-main: #121312;
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --primary-light-font-color:#636669;
  --text-primary-color: #121312;
  --text-secondary-color: #A1A3A7;
  --text-contrast-color: #ffffff;
  --text-link-color: #000000;
  --light-border:#DCDEE0;
  --space-3: 12px;
  --space-6: 24px;
  --space-9: 40px;
  --raduis-2x: 8px;
}

/* Dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background-main: #171717;
    --foreground: #ededed;
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/* Base styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background-main);
  font-family: DM Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-geist-mono), source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
